<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>

<div class="auth-container">
    <h2 class="auth-title">Sign In</h2>

    <div th:if="${message}" class="alert success-alert" th:text="${message}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <form th:action="@{/auth/login}" method="post">
        <input type="text" name="username" placeholder="Username" class="form-control" required>
        <input type="password" name="password" placeholder="Password" class="form-control" required>
        <button type="submit" id="loginBtn" class="btn-primary">Login</button>
    </form>

    <p class="text-center" style="margin-top: 1rem;">
        Don’t have an account? <a th:href="@{/auth/sign-up}">Sign up here</a>
    </p>
</div>

</body>
</html>
