<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>

<div class="container">
    <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div class="auth-container">
        <h2 class="text-center">Login</h2>
        <form id="loginForm" method="post"
              role="form"
              th:action="@{/auth/login}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" id="loginBtn" class="btn btn-primary btn-block">Submit</button>
        </form>

        <p>Don't have an account? <a th:href="@{/auth/sign-up}">Sign up now.</a></p>
    </div>
</div>
</body>
</html>