<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: html_header}"></head>
<body>

<div class="auth-container">
    <h2 class="auth-title">Create Account</h2>

    <form th:action="@{/auth/sign-up}" method="post" th:object="${user}">
        <input type="text" th:field="*{username}" placeholder="Username" class="form-control" required>
        <input type="text" th:field="*{profile.firstName}" placeholder="First name" class="form-control" required>
        <input type="text" th:field="*{profile.lastName}" placeholder="Last name" class="form-control" required>
        <input type="email" th:field="*{profile.email}" placeholder="Email" class="form-control" required>
        <input type="password" th:field="*{password}" placeholder="Password" class="form-control" required>
        <button id="signUpBtn" type="submit" class="btn-primary">Sign Up</button>
    </form>

    <p class="text-center" style="margin-top: 1rem;">
        Already have an account? <a th:href="@{/auth/login}">Login</a>
    </p>
</div>

</body>
</html>