<div th:fragment="uploadNewDocument(document)" id="newVersion" class="modal-custom">
    <div class="modal-custom-content">
        <div class="modal-custom-header">
            <h4 class="modal-custom-title">Upload New Version</h4>
            <a class="modal-custom-close" href="#">
                <i class="fa-solid fa-xmark"></i>
            </a>
        </div>
        <form th:action="@{/documents/{id}/new-version(id=${document.id})}"
              method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label">File</label>
                <div class="file-input-wrapper">
                    <label for="versionFile" class="file-input-label">
                        <span id="versionFileName">Click to select a file</span>
                    </label>
                    <input type="file" id="versionFile" name="file" class="file-input" required
                           onchange="updateVersionFileName(this)">
                </div>
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="icon-btn p-custom-md">Upload</button>
                <a href="#" class="icon-btn p-custom-md">Cancel</a>
            </div>
        </form>
    </div>
</div>