body {
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand {
    font-size: 1.4rem;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transition: 0.3s;
}

.container h2 {
    font-weight: bold;
}