<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{fragments/header :: html_header(title='DMS - Home', additionalLinks=~{this::page_links})}">
    <th:block th:fragment="page_links">
        <link rel="stylesheet" th:href="@{/css/home.css}">
    </th:block>
</head>
<body>

<nav th:replace="~{fragments/dashboard/navigation :: navigation_bar}"></nav>

<div th:replace="~{fragments/dashboard/sidebar :: sidebar(content=~{::content})}">
    <div th:fragment="content">
        <div class="container">
            <h2 th:text="'Welcome, ' + ${user.profile.username} + '!'">Welcome</h2>
            <p th:if="${!user.isInCorporation()}">
                You are not currently a member of any corporation.
            </p>
        </div>
    </div>
</div>

<div th:replace="~{fragments/scripts :: footer_scripts}"></div>
</body>
</html>
