<div th:fragment="corpCreateModal(createDto)" class="modal fade" id="corpCreateModal" tabindex="-1"
     aria-labelledby="createCorpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content corporation-modal">
            <div class="modal-header corporation-header">
                <h5 class="modal-title fw-bold" id="createCorpModalLabel">Create Corporation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/company/create}" th:object="${createDto}" method="post" enctype="multipart/form-data"
                  class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Name</label>
                        <input type="text"
                               th:field="*{name}"
                               id="name"
                               class="form-control corporation-input"
                               placeholder="e.g., Flexo2000 Kft."
                               required>
                        <div class="invalid-feedback">Please enter a name!</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold">Description</label>
                        <textarea th:field="*{description}"
                                  id="description"
                                  class="form-control corporation-input"
                                  rows="2"
                                  placeholder="Brief description of the corporation..."></textarea>
                    </div>
                </div>

                <div class="modal-footer corporation-footer">
                    <button type="submit" class="btn submit-btn"><i class="fas fa-paper-plane"></i>&nbsp;Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
